<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span class="intro-tagline">Let Us Be Curious Disciples</span>
                    <span class="intro-connector">&mdash; of &mdash;</span>
                    <span class="intro-brand"><span class="intro-ferocious">Ferocious</span> <span class="intro-truth">Truth</span></span>
                    <a href="#page-start" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-fade">&nbsp;</div>
</header>
